.about-section-content{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.about-section-content-picture img{
    width: 400px;
    height: 300px;
}
.about-section-content-data{
    width: 700px;
}
.about-section-content-data p{
    color: black;
    text-align: justify;
    flex-wrap: wrap;
}