body{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url('/images/image.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.navbar-inner{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid white;
    position: fixed; 
    top: 0; 
    width: 100%; 
    overflow: hidden;
    background-color: black;
}
.navbar-inner-logo ul li{
    list-style: none;
}
.navbar-inner-logo ul{
    list-style: none;
}
.navbar-inner-logo ul a {
   color: white;
   text-decoration: none;
   font-size: 25px;
}
.navbar-inner-list ul li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}
.navbar-inner-list li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navbar-inner-list ul li a:hover{
    text-decoration: underline;
    color: lightsalmon;
}
.navbar-inner-button ul{
    list-style: none;
}
.navbar-inner-button ul a {
   color: rgb(253, 249, 249);
   text-decoration: none;
   font-size: 20px;
   border: 1px solid darksalmon;
   padding: 7px;
   background-color: darksalmon;
   border-radius: 10px;
}

/*section design */

.contact-section-title{
    margin-bottom: 270px;
    margin-top: -270px;
    background-color: lightslategrey;
    width: 400px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact-section-title h1{
    text-align: center;
    color:lightsalmon;
    font-size: 2.5em;
    opacity: 1;
}
.contact-section-contact h2{
    margin-top: 50px;
    text-align: center;
}
.contact-section-contact-formulaire{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contact-section-contact-formulaire input[type=text]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=text]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=text]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=email]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=email]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=email]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=tel]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=tel]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=tel]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire textarea{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.contact-section-contact-formulaire textarea:focus{
    outline: none;
}
.contact-section-contact-formulaire textarea:hover{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightsalmon;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire button{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 15px;
    background-color: lightsalmon;
    border: none;
    cursor: pointer;
    color: white;
}

/*trainer page design */

.trainers-section-contact{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.trainers_picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    width: 940px;;
    border: 1px solid black;
}
.trainers_picture img:hover{
   
}
.trainers_picture img{
    width: 290px;
    height: 400px;
    margin-right: 5px;
}
.trainers_picture h3{

}
.trainer_name{
   
}
.trainer_name h3, p{
    text-align: center;
    color: lightsalmon;
    color: black;
}
.trainersPageAdds{
    border: 1px solid black;
    width: 200px;
}

/*footer design */

footer{
    border-top: 1px solid black;
    padding:10px;
    background-color: black;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-top: 70px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer-content-list{
    display: flex;
    justify-content: space-between;
}
.footer-content-list ul li{
    list-style: none;
    text-align: justify;
    margin-left: -30px;
}
.footer-content-list ul li a{
    text-decoration: none;
    color: grey;
}
.footer-content-list ul li a:hover{
    color: white;
}
.lists{
    margin-right: 60px;
}
.lists h3{
    text-align:justify;
}
.copyright{
    color: rgb(179, 178, 178);
    text-align: center;
}

