/*section design */

/*contact design */

.contact-section-title{
    margin-bottom: 270px;
    margin-top: -270px;
    background-color: lightslategrey;
    width: 400px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact-section-title h1{
    text-align: center;
    color:lightsalmon;
    font-size: 2.5em;
    opacity: 1;
}
.contact-section-contact h2{
    margin-top: 50px;
    text-align: center;
}
.contact-section-contact-formulaire{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contact-section-contact-formulaire input[type=text]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=text]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=text]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=email]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=email]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=email]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=tel]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=tel]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=tel]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire textarea{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.contact-section-contact-formulaire textarea:focus{
    outline: none;
}
.contact-section-contact-formulaire textarea:hover{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightsalmon;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire button{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 15px;
    background-color: lightsalmon;
    border: none;
    cursor: pointer;
    color: white;
}

/*trainer page design */

.trainers-section-title{
    margin-bottom: 270px;
    margin-top: -270px;
    background-color: lightslategrey;
    width: 400px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.trainers-section-title h1{
    text-align: center;
    color:lightsalmon;
    font-size: 2.5em;
    opacity: 1;
}

.trainers-section-contact{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.trainers_picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    width: 940px;
}
.trainers-picture-info{
    margin-bottom: 10px;
    width: 270px;
}
.trainers_picture img:hover{
   
}
.trainers_picture img{
    width: 270px;
    height: 350px;
    margin-right: 5px;
}
.trainers_picture h3{

}
.trainer_name{
    border: 1px solid lightsalmon;
    background-color: lightsalmon;
    margin-top: -3px;
}
.trainer_name a{
    text-decoration: none;
}
.trainer_name h3:hover{
    color: black;transition: 0.5s;
}
.trainer_name h3, p{
    text-align: center;
    color: white;
}
.trainersPageAdds{
    border: 1px solid black;
    width: 200px;
}

/*footer design */



