/*section design */

/*Home page design*/

/*design of the section page */

.section-header-text{
    margin-top: -270px;
    margin-bottom: 130px;
}
.section-header-text-inner h2{
    color: white;
}
.section-header-text-inner{
    text-align: center;
    border: 1px solid black;
    padding: 30px;
    margin-right: 300px;
    margin-left: 300px;
    opacity: 0.9;
}
.section-header-text-inner a{
    text-decoration: none;
    color: white;
    border: 1px solid lightsalmon;
    background-color: lightsalmon;
}
.section-content-container{
    display: flex;
    justify-content: space-around;
}
.section-content-container{
    padding-right: 70px;
    padding-left: 70px;
}
.box{
    width: 300px;
    border: 1px solid white;
    background-color: white;
    height: 200px;
    padding-left: 19px;
    padding-top: 20px;
    border-radius: 10px;
}
.box-text{
    height: 100px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.box-link {
    margin-top: 58px;
    text-align: center;
}
.box-text p{
    color: black;
}
.box-link a{
    color: lightsalmon;
    text-decoration: none;
}
.box-link a:hover{
    text-decoration: underline;
}
.section-content-container2{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-right: 70px;
    padding-left: 70px;
}
.box-picture img{
    width: 500px;
    height: 300px;
}
.box-picture-text{
    width: 500px;
    margin-top: -30px;
}
.box-picture-text1 p, h3{
  word-wrap: break-word;
 letter-spacing: 1px;
 line-height: 1.6;
 color: black;
}
.box-picture-link{
    margin-top: 50px;
}
.box-picture-link a{  
    text-decoration: none;
    color: white;
    border: 1px solid lightsalmon;
    padding: 10px;
    background-color: lightsalmon;
}
.ads{
    height: 100px;
    background-color: dimgrey;
    margin-top: 60px;
}
.ads h2{
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 30px;
}
.progams-inner{
    margin-top: 60px;
}
.programs-box1{
    display: flex;
   justify-content: center;
}
.programs-box2{
    display: flex;
   justify-content: center;
   margin-top: -4px;
}
.programs-box-text{
    width: 500px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
}
.programs-box-img{
    
}
.programs-box1 img{
    width: 500px;
    height: 300px;
}
.programs-box2 img{
    width: 500px;
    height: 300px;
}
.programs-box-text a{
    text-decoration: none;
    border: 2px solid lightsalmon;
    padding: 10px;
    color: lightsalmon;
}
.programs-box-text a:hover{
    background-color: lightsalmon;
    color: white;
}

/*contact design */

.contact-section-title{
    margin-bottom: 270px;
    margin-top: -270px;
    background-color: lightslategrey;
    width: 400px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact-section-title h1{
    text-align: center;
    color:lightsalmon;
    font-size: 2.5em;
    opacity: 1;
}
.contact-section-contact h2{
    margin-top: 50px;
    text-align: center;
}
.contact-section-contact-formulaire{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contact-section-contact-formulaire input[type=text]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=text]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=text]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=email]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=email]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=email]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire input[type=tel]{
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.contact-section-contact-formulaire input[type=tel]:focus{
    outline: none;
}
.contact-section-contact-formulaire input[type=tel]:hover{
    width: 300px;
    border: none;
    border: 1px solid lightsalmon;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire textarea{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.contact-section-contact-formulaire textarea:focus{
    outline: none;
}
.contact-section-contact-formulaire textarea:hover{
    width: 630px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightsalmon;
    box-shadow: 1px 1px grey;
}
.contact-section-contact-formulaire button{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 15px;
    background-color: lightsalmon;
    border: none;
    cursor: pointer;
    color: white;
}

/*trainer page design */

.trainers-section-title{
    margin-bottom: 270px;
    margin-top: -270px;
    background-color: lightslategrey;
    width: 400px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.trainers-section-title h1{
    text-align: center;
    color:lightsalmon;
    font-size: 2.5em;
    opacity: 1;
}

.trainers-section-contact{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.trainers_picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    width: 940px;
}
.trainers-picture-info{
    margin-bottom: 10px;
    width: 270px;
}
.trainers_picture img:hover{
   
}
.trainers_picture img{
    width: 270px;
    height: 350px;
    margin-right: 5px;
}
.trainers_picture h3{

}
.trainer_name{
    border: 1px solid lightsalmon;
    background-color: lightsalmon;
    margin-top: -3px;
}
.trainer_name a{
    text-decoration: none;
}
.trainer_name h3:hover{
    color: black;transition: 0.5s;
}
.trainer_name h3, p{
    text-align: center;
    color: white;
}
.trainersPageAdds{
    border: 1px solid black;
    width: 200px;
}

/*footer design */



